p {
    text-align: center;
}
.banner {
    width: 100%;
}
.beneficios {
    background: #ffffff;
    padding: 20px;
}
.imagembeneficios{
    width: 50%;
}
.principal{
    background-color: #cccccc;
    padding: 30px;
}
.titulocentralizado{
    text-align: center;
}

ul{
    display: inline-block;
    width: 20%;
    margin-right: 15%;
    vertical-align: top;
}