p {
    text-align: center;
}
.banner {
    width: 100%;
}
.beneficios {
    background: #ffffff;
    padding: 20px;
}
.imagembeneficios{
    width: 50%;
}
.principal{
    background-color: #cccccc;
}